#app {
  width: 100vw;
  text-align: center;
  justify-content: center;
  /* padding: 2rem; */
}

#name-component {

  width: 80vw;
  margin: 0 auto;
  
}

#instructions {
  margin: 2rem 0;
}

#name-taker {
  width: 60vw;
  padding: .5rem;
  border: 2px solid black;
}

#continuity {
  background-color: dodgerblue;
  border-color: dodgerblue;
  width: 12rem;
  font-size: 2rem;
  color: white;
}

/* @media screen and (max-width: 576px) { */
@media screen and (orientation: portrait) {


  #name-component {
    width: 90vw;
  }
  #name-taker {
    width: 90vw;
    font-size: .5rem;
  }
  
#instructions {
  margin: 5rem 0;
}
  

}