#app {
  width: 100vw;
  text-align: center;
  justify-content: center;
  /* padding: 2rem; */
}

#name-component {

  width: 80vw;
  margin: 0 auto;
  
}

#instructions {
  padding: 2rem;
}

#name-taker {
  width: 60vw;
  padding: 1rem;
}

#continuity {
  background-color: dodgerblue;
  border-color: dodgerblue;
  width: 12rem;
  font-size: 2rem;
  color: white;
}